

.jumbotron{
    background-color: cadetblue;
    color: green;
    text-align: center;

}
.card-hotel{
    flex: 1 150px;
    /* 1 totos iguals, 2 cada uno  el seu temanys, 
    segons campt tamny maxim hori*/
    padding: 3px ;
}

.card-hotel:hover{
    background-color: rgb(228, 219, 145);
    border: 1px dashed red;
}
.btn{
    color: rgb(68, 67, 67);
    background-color: cadetblue;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: cadetblue;
    margin-bottom: 0px;
    margin-top: 10px;
}
